In [ ]:
x = "enjoying"
print("Python Programming "+ x)

Python Programming enjoying

In [ ]:
x = "enjoying"
y = ("Python programming is"" ")
z = print(y+x)

Python programming is enjoying

In [ ]:
x,y,z = 'one','two','three'
print(x,y,z)

one two three

In [ ]:
x=y=z = 'four'
print(x,y,z)

four four four

In [ ]:
x= 5  
y= 3 
sum = x+y
sum

8